.test {
  background-image: url(https://e0.pxfuel.com/wallpapers/559/84/desktop-wallpaper-movie-theater-background-movie-cinema.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
